.App {
  text-align: center;
  background-color: #F0FFC7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #BADD57;
}

.imageNav{
  width: 100px ;
}
.imageNav2{
  width: 60px ;
}

.Footer {
  background-color: #BADD57;
  display: flex;
  justify-content: center;
  color: white;
  align-items: flex-end;
  position:absolute;
   bottom:0;  /* on le colle en bas */
   width:100%;
   height:100px; 
}


